<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/fonctions.js"></script>
    <title>Gestion des Travailleurs</title>
</head>
<body>
<div class="container">
    <div class="section" id="secteurs">
        <h2>Les secteurs</h2>
        <ul>
            <li class="secteur-liste" th:each="secteur : ${secteurs}" th:data-codesecteur="${secteur.numS}" th:text="${secteur.nomS}"></li>
        </ul>
        <!-- Contenu des secteurs ici -->
    </div>
    <div class="section" id="employes">
        <h2>Tous les employés</h2>
        <!-- Contenu des employés chargé via AJAX -->
    </div>
    <div class="section" id="rayons">
        <h2>Les rayons</h2>
        <!-- Contenu des rayons ici -->
    </div>
    <div class="section" id="travailleurs-rayon">
        <h2>Les employés qui travaillent</h2>
        <!-- Contenu chargé via AJAX -->
    </div>
    <div class="section" id="formulaire-ajout">
        <h2>Formulaire pour ajouter un employé</h2>
        <!-- Formulaire d'ajout d'employé -->
        </form>
    </div>
    <div class="section" id="total-heures">
        <h2>Total d'heures des travailleurs</h2>
        <!-- Contenu chargé via AJAX -->
    </div>
</div>

</body>
</html>
